
body{
  width: 100vw;
  height: 100vh;
  background-image: url('https://i.pinimg.com/originals/6b/3f/7e/6b3f7e7c8a8b06fbd1ae32503037f3ca.jpg');
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tasksclass{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
}

.todomain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maintodo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todolist{
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.listele{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 1px;
  
}

.inputform{
  width: 20rem;
}

.editbutton{
  display: flex;

}
